{% extends 'manager_base.html' %}
{% block body %}
{% load my_tags %}

    <h1>Справочники</h1>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Справочник</th>
          </tr>
        </thead>
        <tbody>
            {% for ref in all_refs %}
          <tr>
            <th scope="row">#</th>
            <td><a href="{{ ref.get_class_url }}">{{ ref|verbose_name }}</a></td>
            <td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock body %}