{% load static %}
<!-- Navigation -->
<header class="header-section">
    <div class="header-top" style="padding: 18px 0 14px;">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-center text-lg-left">
                      <a href="{% url 'hello_world:homepage' %}">
                        <img src="{% static 'imgs/logo.png' %}" alt="" class="img-fluid">
                      </a>
                        
                    </div>
                    <div class="col-xl-6 col-lg-5 text-center">
                        <form action="{% url 'products:all_products_list' %}" method="GET" style="width: 100%; position: relative; padding: 10px 10px;">
                            <input name="search" type="text" placeholder="Search on magaz..." style="width: 100%; 
                                height: 44px; 
                                font-size: 14px; 
                                border-radius: 50px; 
                                border: none; 
                                padding: 0 19px; 
                                background: #f0f0f0;">
                            <button style="position: absolute; height: 100%; right: 18px; top: 0; font-size: 26px; color: #000; border: none; cursor: pointer; background-color: transparent;">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-5 text-center" style="padding: 15px;">
                        <div class="user-panel">
                        {% if user.is_authenticated %}
                          <div class="up-item" style="display: inline-block; font-size: 14px; margin-right: 29px;">
                              <i class="fas fa-user" style="font-size: 22px;"></i>
                              <a href="{% url 'user_profile:profile' %}" style="font-size: 14px; color: #000;">Hello, {{ user.username }}</a>
                          </div>
                        {% else %}
                          <div class="up-item" style="display: inline-block; font-size: 14px; margin-right: 29px;">
                              <i class="fas fa-user" style="font-size: 22px;"></i>
                              <a href="{% url 'login:login' %}" style="font-size: 14px; color: #000;">Sign In</a>
                              or
                              <a href="{% url 'registration:registration' %}" style="font-size: 14px; color: #000;">Create account</a>
                          </div>
                        {% endif %}
                          <div class="up-item" style="display: inline-block; font-size: 14px;">
                              <i class="fas fa-shopping-cart" style="display: inline-block; position: relative;"></i>
                              <a href="{% url 'orders:cart' %}" style="font-size: 14px; color: #000;">Shopping cart</a>
                          </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container" style="font-size: large;">
          <a class="navbar-nav nav-link" style="color: #ffffff;" href="{% url 'hello_world:homepage' %}">Главная</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products:all_products_list' %}" style="color: #ffffff;">Каталог</a>
              </li>
              <li class="nav-item dropdown">
                <a style="color: #ffffff;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Жанры
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for g in genres %}
                    <a class="dropdown-item" href="{% url 'products:all_products_list' %}?genre={{g.pk}}">{{ g.genre_name }}</a>
                  {% endfor %}
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'hello_world:delivery' %}" style="color: #ffffff;">Доставка и оплата</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: #ffffff;">Контакты</a>
              </li>
            </ul>
            {% if user.is_staff or user.is_superuser %}
            <ul class="navbar-nav ml-auto" style="color: #ffffff;">
              <li class="nav-item">
                <a class="navbar-brand" href="{% url 'manager_admin:dashboard' %}">
                <button class="btn btn-secondary">Администрирование</button>
              </a>
              </li>
            </ul>
              {% endif %}
            {% if rate %}
            <ul class="navbar-nav ml-auto" style="color: #ffffff;">
              <li class="nav-item">
              <a class="nav-link" href="https://www.nbrb.by/statistics/rates/ratesdaily.asp" style="color: #ffffff;">Курс BYN/USD: {{ rate }}</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>
</header>
