{% extends 'manager_base.html' %}
{% block body %}

    <h1>Типы форматов</h1>
    <a href="{% url 'create_book_format' %}"><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Добавить формат</button></a>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Формат</th>
            <th scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
            {% for format in book_formats %}
          <tr>
            <th scope="row">{{ format.pk }}</th>
            <td>{{ format.book_format }}</td>
            <td>
                <a href="{% url 'book_format_detailed_info' format.pk %}"><button class="btn btn-success"><i class="fas fa-info-circle"></i></button></a>
                <a href="{% url 'book_format_update' format.pk %}"><button class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
                <a href="{% url 'book_format_delete' format.pk %}"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock body %}