{% extends 'manager_base.html' %}
{% block body %}

    <h1>Список авторов</h1>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Автор</th>
            <th scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
            {% for author in authors %}
          <tr>
            <th scope="row">{{ author.pk }}</th>
            <td>{{ author.author_name }}</td>
            <td>
                <a href="{% url 'author_detailed_info' author.pk %}"><button class="btn btn-success"><i class="fas fa-info-circle"></i></button></a>
                <a href="{% url 'author_update' author.pk %}"><button class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
                <a href="{% url 'author_delete' author.pk %}"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock body %}