{% extends 'manager_base.html' %}
{% block body %}
<h1>Список книг</h1>

<form action="{% url 'products:create_new_product' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-success" style="margin-bottom:5px">Добавить книгу</button>
</form>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Наименование</th>
            <th scope="col">Изображение</th>
            <th scope="col">Авторы</th>
            <th scope="col">Количество</th>
            <th scope="col">Цена, руб.</th>
            <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for book in object_list %}
        <tr>
            <th scope="row">{{ book.pk }}</th>
            <td>{{ book.name }}</td>
            <td>
                <div class="container" style="max-width: 100px;">
                  <img src="{{ book.foto.url }}" alt="" class="img-fluid">  
                </div>
            </td>
            <td>{{ book.author.all|join:', ' }}</td>
            <td>{{ book.quantity }}</td> 
            <td>{{ book.price }}</td>
            <td>
                <a href="{% url 'products:product_detailed' book.pk %}">
                    <button class="btn btn-success">
                        <i class="fas fa-info-circle"></i>
                    </button>
                </a>
                <a href="{% url 'products:product_update' book.pk %}">
                    <button class="btn btn-warning">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
                <a href="{% url 'products:delete_product' book.pk %}">
                    <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav aria-label="Page navigation example" style="text-align: center; margin-top: 2em; font-size: large;">
    <ul class="pagination" style="justify-content: center;">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
    </ul>
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
  </nav>
{% endblock body %}