{% extends 'customer_base.html' %}
{% block body %}
<div class="container">
<div class="row">
  <div class="col">
   <h1 class="display-5" style="margin: 20px 0px">
    Книги {% if genre_name %}в жанре "{{ genre_name }}"{% endif %}
          {% if searching_value %} по запросу "{{ searching_value }}"{% endif %}
  </h1> 
  </div>
  
</div>
{% if object_list %}
  <div class="row">
    {% for book in object_list %}
    <div class="col-md-6 col-lg-4" style="margin-bottom: 30px;">
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ book.foto.url }}" alt="Card image cap" style="width: 100%; height: 25rem; object-fit: contain">
        <div class="card-body">
          <div class="text-truncate">
            <h5 class="card-title">
              <a href="{% url 'products:product_detailed' book.pk %}">
                <strong>{{ book.name }}</strong>
              </a>
            </h5>
          </div>
          <div class="truncate">
            <p class="card-text" style="text-overflow: ellipsis;">
              <small>
                {{ book.author.all|join:", " }}, {{ book.year_published }} 
              </small>
            </p>
          </div>
          <p>
            {% if book.rating > 8 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 6 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 4 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 2 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% else %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% endif %}
          </p>
          <div class="row">
            <div class="col-5"><p class="h5"><strong>{{ book.price }}</strong><small> руб.</small></p></div>
            <div class="col-7"><a href="{% url 'orders:cart' %}?book={{ book.pk }}" class="btn btn-outline-primary btn-lg btn-block"><i class="fas fa-shopping-cart"></i> В корзину</a></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
  <nav aria-label="Page navigation example" style="text-align: center; margin-top: 2em; font-size: large;">
    <ul class="pagination" style="justify-content: center;">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
    </ul>
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
  </nav>
  {% else %}
  <div class="jumbotron" style="background-color: white; height: 60vh;">
    <div class="container">
      <h1 class="display-4">Тут пусто =(</h1>
      <p class="lead">К сожалению, по вашему запросу ничего не было найдено. Может, где опечатку сделали?</p>
      <a href="{% url 'hello_world:homepage' %}" class="btn btn-outline-secondary">Назад на главную</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock body %}