{% extends 'customer_base.html' %}
{% load static %}
{% block body %}
<div class="container">
  <div class="row" style="margin-top: 2em;">
    <div class="col col-lg-4" style="justify-content: right;">
      <img src="{{ book.foto.url }}" alt="" style="max-width: -webkit-fill-available; max-height: -webkit-fill-available;">
      <button class="btn btn-block btn-outline-secondary" style="margin-top: 1em;">
        <i class="far fa-star"></i> Добавить в избранное
      </button>
    </div>
    <div class="col-8">
      <h1 class="display-5">{{ book.name }}</h1>
      <div class="row">
        <div class="col">
          <p style="margin-top: 1em;">{{book.author.all|join:", "}}</p>
        </div>
        <div class="col">
          <p style="margin-top: 1em;">
            {% if book.rating > 8 %}
            <small>Рейтинг: 
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 6 %}
            <small>Рейтинг: 
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 4 %}
            <small>Рейтинг: 
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 2 %}
            <small>Рейтинг: 
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% else %}
            <small>Рейтинг: 
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% endif %}
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p class="h3">{{ book.price }} руб.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="btn btn-primary btn-lg" href="{% url 'orders:cart' %}?book={{ book.pk }}">
            <i class="fas fa-shopping-cart"></i> Положить в корзину
          </a>
        </div>
        {% if user.is_authenticated %}
        <div class="col">
          <a class="btn btn-outline-success btn-lg" href="{% url 'comments:create' %}?book={{ book.pk }}">
            <i class="fas fa-plus-circle"></i> Добавить комментарий
          </a>
        </div>
        {% endif %}
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p>
            {{ book.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <p class="h4">Описание</p>

  <div class="row">
    <div class="col col-md-8">
      <table class="table table-sm table-hover">
        <tbody>
          <tr>
            <th scope="row">Название книги</th>
            <td>{{ book.name }}</td>
          </tr>
          <tr>
            <th scope="row">Автор</th>
            <td>{{ book.author.all|join:", " }}</td>
          </tr>
          <tr>
            <th scope="row">Серия</th>
            <td>{{ book.series }}</td>
          </tr>
          <tr>
            <th scope="row">Жанры</th>
            <td>{{ book.genres.all|join:", " }}</td>
          </tr>
          <tr>
            <th scope="row">Год издания</th>
            <td>{{ book.year_published }}</td>
          </tr>
          <tr>
            <th scope="row">Число страниц</th>
            <td>{{ book.nubmer_of_pages }}</td>
          </tr>
          <tr>
            <th scope="row">Тип переплета</th>
            <td>{{ book.binding }}</td>
          </tr>
          <tr>
            <th scope="row">Формат</th>
            <td>{{ book.book_format }}</td>
          </tr>
          <tr>
            <th scope="row">ISBN</th>
            <td>{{ book.book_isbn }}</td>
          </tr>
          <tr>
            <th scope="row">Вес, гр.</th>
            <td>{{ book.weight }}</td>
          </tr>
          <tr>
            <th scope="row">Возрастные ограничения</th>
            <td>{{ book.age_restrictions }}</td>
          </tr>
          <tr>
            <th scope="row">Издательство</th>
            <td>{{ book.publisher }}</td>
          </tr>
          <tr>
            <th scope="row">Количество на складе</th>
            <td>{{ book.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col">
      <h1>Комментарии ({{ book.comments.all|length }}) <a href="{% url 'comments:create' %}?book={{ book.pk }}"><small><button class="btn btn-outline-secondary"><i class="fas fa-plus-circle"></i></small></button></a></h1>
      <hr>
    </div>
  </div>
  {% for comment in book.comments.all %}
  <div class="row" style="margin-bottom:10px">
    <div class="col-1">
      <img src="{% static 'imgs/no_name.svg' %}" alt="">
    </div>
    <div class="col-11">
      <span style="margin-bottom: 30px;">
        <strong>{{ comment.user }}</strong> <small>{{ comment.create_date }}</small><br>
      </span>
      {{ comment.comment }}<br>
    </div>
  </div>
  {% endfor %}
  {% if not user.is_authenticated %}
  <div class="row justify-content-center" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="col-6 align-self-center">Комментарии доступны только <a href="{% url 'login:login' %}">авторизованным пользователям.</a></div>
  </div>
  {% endif %}
</div>

{% endblock body %}
