{% extends 'manager_base.html' %}
{% block list %}

    <h1>Серии</h1>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Серии</th>
            <th scope="col">Действие</th>
          </tr>
        </thead>
        <tbody>
            {% for obj in series %}
          <tr>
            <th scope="row">{{ publisher.pk }}</th>
            <td>{{ obj.series_name }}</td>
            <td>
                <a href="{% url 'series_detailed_info' obj.pk %}"><button class="btn btn-success"><i class="fas fa-info-circle"></i></button></a>
                <a href="{% url 'series_update' obj.pk %}"><button class="btn btn-warning"><i class="fas fa-edit"></i></button></a>
                <a href="{% url 'series_delete' obj.pk %}"><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></a>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock list %}