{% extends 'customer_base.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col" style="margin-bottom: 2em;">
      <h1 class="my-4">Корзина</h1>
      Book you just have added:{{ book.pk }} {{ book.name }}
      <form action="{% url 'orders:update' %}" method="post">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col"></th>
            </tr>
          </thead>
          {% csrf_token %}
          {% for book_in_cart in cart.books.all %}
          <tr>
            <td>
              <div class="container" style="max-width: 100px;">
                <img src="{{ book_in_cart.book.foto.url }}" alt="" class="img-fluid">  
              </div>
            </td>
            <td>
              <p class="h5">{{ book_in_cart.book.name }}</p>
              <p class="h6"><small>{{ book_in_cart.book.author.all|join:", " }}</small></p>
            </td>
            <td>{{ book_in_cart.price }}</td>
            <td><input type="number" name="{{ book_in_cart.pk }}" id="" value="{{ book_in_cart.quantity }}" style="max-width: 60px; text-align: center;"></td>
            <td>
              <a href="{% url 'orders:book_in_cart-del' book_in_cart.pk %}">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          {% endfor %} 
        </table>
        <p class="h2" style="text-align: right;">Total price:</p>
        <p class="h1" style="text-align: right;">{{ cart.total_price }} руб.</p> 
        <div class="row">
          <div class="col">
            <a href="{% url 'hello_world:homepage' %}" class="btn btn-link">
              <i class="fas fa-arrow-left"></i> Continue shopping
            </a>
          </div>
          <div class="col" style="text-align: end; margin-top: 1em;">
            <button type="submit" class="btn btn-outline-primary btn-lg" name="submit_button" value="edit">Обновить</button>
            <button type="submit" class="btn btn-primary btn-lg" name="submit_button" value="checkout">Купить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}