{% extends 'customer_base.html' %}

{% block body %}


<div class="container" style="margin-bottom: 2em;">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Личный кабинет</h1>
        <div class="list-group">
          <a href="{% url 'orders:history' %}" class="list-group-item">Истрория заказов</a>
          <a href="#" class="list-group-item">Купоны</a>
          <a href="#" class="list-group-item">Выйти</a>
        </div>

      </div>
      <div class="col-lg-9">

        <h1 class="my-4">Корзина</h1>
        {% if book.pk %}
            Cart ID: {{ cart.pk }}<br>
        Book you just have added:{{ book.pk }} {{ book.name }}<hr>

        Total price: {{ cart.total_price }}

        <form action="{% url 'orders:update' %}" method="post">
        <table class="table">
                {% csrf_token %}
            {% for book_in_cart in cart.books.all %}
            <tr>
                <td>{{ book_in_cart.book.name }}</td>
                <td>quantity - <input type="number" name="{{ book_in_cart.pk }}" id="" value="{{ book_in_cart.quantity }}"></td>
                <td>price - {{ book_in_cart.price }}</td>
                <td>
                    <a href="{% url 'orders:book_in_cart-del' book_in_cart.pk %}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %} 
        </table>
            <button type="submit" class="btn btn-danger" name="submit_button" value="checkout">Checkout</button>
            <button type="submit" class="btn btn-success" name="submit_button" value="edit">Refresh</button>
            </form>
        {% else %}
            <h6 class="my-4">Ваша корзина пока что пуста. Наполним ее товаром?</h1>
        {% endif %}
        
        </div>
    </div>
</div>
        

{% endblock body %}