{% extends 'orders/cart.html' %}

{% block inner %}
<h1 class="my-4">История заказов</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Order</th>
      <th scope="col">Placed</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {% for order in object.orders.all %}
      <tr>
      <th scope="row">{{ order.pk }}</th>
      <td>{{ order.create_date }}</td>
      <td>{{ order.cart.total_price }}</td>
      <td>Исполнен</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock inner %}
