{% extends 'customer_base.html' %}

{% block body %}


{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 0px;">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<!-- Каруселька -->
{% include 'carousel.html' %}
<!-- Фичерзы -->
{% include 'features.html' %}



<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid" style="background-color:initial">
        <div class="container">
          <h1 class="display-4">Новинки</h1>
        </div>
      </div>
    </div>
  </div>
 <!-- Карточки товаров -->
  <div class="row">
    {% for book in last_books %}
      <div class="col-sm-6 col-md-4">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ book.foto.url }}" alt="Card image cap">
        <div class="card-body">
          <div class="text-truncate">
            <h5 class="card-title">
              <a href="{% url 'products:product_detailed' book.pk %}">
                <strong>{{ book.name }}</strong>
              </a>
            </h5>
          </div>
          <p class="card-text" style="text-overflow: ellipsis;">
            <small>
              {{ book.author.all|join:", " }}, {{ book.year_published }} 
            </small>
          </p>
          <p>
            {% if book.rating > 8 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 6 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 4 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 2 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% else %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% endif %}
          </p>
          <div class="row">
            <div class="col-6"><strong>{{ book.price }}</strong> руб.</div>
            <div class="col-6"><a href="{% url 'orders:cart' %}?book={{ book.pk }}" class="btn btn-primary">В корзину</a></div>
          </div>
        </div>
      </div>  
      </div>
    {% endfor %}
  </div>
</div>



<!-- Заголовок блока -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid" style="background-color:initial">
        <div class="container">
          <h1 class="display-4">Популярные</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- Карточки товаров -->
  <div class="row">
    {% for book in most_popular %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ book.foto.url }}" alt="Card image cap">
        <div class="card-body">
          <div class="text-truncate">
            <h5 class="card-title">
              <a href="{% url 'products:product_detailed' book.pk %}">
                <strong>{{ book.name }}</strong>
              </a>
            </h5>
          </div>
          <p class="card-text" style="text-overflow: ellipsis;">
            <small>
              {{ book.author.all|join:", " }}, {{ book.year_published }} 
            </small>
          </p>
          <p>
            {% if book.rating > 8 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 6 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 4 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% elif book.rating > 2 %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% else %}
            <small>
              <i class="fas fa-star" style="color: gold;"></i>
            </small>
            {% endif %}
          </p>
          <div class="row">
            <div class="col-6"><strong>{{ book.price }}</strong> руб.</div>
            <div class="col-6"><a href="{% url 'orders:cart' %}?book={{ book.pk }}" class="btn btn-primary">В корзину</a></div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row justify-content-center" style="margin-top: 2em;">
    <div class="col-4">
      <div class="display-3">
        <a href="{% url 'products:all_products_list' %}" class="btn btn-outline-dark btn-lg btn-block">Посмотреть все
        </a>
        
      </div>
      
    </div>
  </div>
</div>

<!-- Блок с рекомендациями -->
{% include 'recomendations.html' %}
{% endblock body %}