.carousel {
    height: 200px !important;
    overflow: hidden;
  }
  .carousel-inner {
    overflow: visible;
  }
  .carousel-inner img {
    left: 50%;
    max-width: none !important;
    min-height: 200px;
    min-width: 100%;
    position: absolute;
    top: 200px;
    transform: translate(-50%,-50%);
  }
  .jumbotron{
    margin-bottom: 0px;
  }
